/*font references
font-family: 'Quattrocento', serif;
font-family: 'Meddon', cursive;*/

body {
	background-image: url(../images/background-image-4.jpeg);
	background-size: cover;
}

.container {
	width: 100%;
	height: auto;
}

header {
	text-align: center;
	font-family: 'Meddon', cursive;
	font-size: 30px;
	background-color: #e2ffd1;
	padding-top: 28px;
	padding-bottom: 28px;
	
}

.col-md-12 {
	padding-left: 0;
	padding-right: 0;
}

.wrapper {
}

h3 {
	font-family: 'Meddon', cursive;
	text-align: center;
}

#start {
	font-family: 'Meddon', cursive;
	text-align: center;
	font-size: 25px;
	padding: 30px;

}

#duplicateMessage {
	padding-top: 20px;
}

#gamesWon {
	font-family: 'Meddon', cursive;
	text-align: center;
	font-size: 25px;
}

#remainingGuesses {
	font-family: 'Meddon', cursive;
	text-align: center;
	font-size: 25px;
}

.row {
	font-family: 'Quattrocento', serif;
	text-align: center;
	font-size: 20px;
}

#startGame {
	font-family: 'Meddon', cursive;
	text-align: center;
	font-size: 25px;
	padding: 30px;
}

#lettersArray {
	font-size: 80px;
	height: 200px;
	padding-top: 60px;
}

.col-md-4, .col-md-3{
	padding-top: 100px;
}
